body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  text-align: center;
}

#waterBtn{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: red;
  cursor: pointer;
  transition: background 0.3s;
}

#waterBtn.on {
  background: limegreen;
}

#plantImg{
  width: 25vh;
}

p {
  margin-top: 20px;
  font-size: 1.2em;
}
